ownCloud client cannot connect to Apache Tomcat because Content-Type comparison is hard-coded

### Expected behaviour

ownCloud should correctly parse Content-Type (http entity-header field as
defined by RFC 2616, section 14.17) so that connections to Apache Tomcat
are possible). See also http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html
### Actual behaviour

Currently, connections to Apache Tomcat are not possible because
the ownCloud client does not properly parse the Content-Type;
the ownCloud client simply compares the Content-Type returned
by the WebDAV server with a hard-coded constant string, namely
"application/xml; charset=utf-8"; the actual code in the client
reads as follows:

content_type = ne_get_response_header( request, "Content-Type" );

if( !(content_type && c_streq(content_type, "application/xml; charset=utf-8") ) ) {
  ...

While the above code works fine with Apache httpd, it unfortunately fails
with Apache Tomcat, because the latter returns a Content-Type of the form
of "application/xml;charset=utf-8" (note that ownCloud client expects a
blank right after the semicolon separating MimeType "application/xml"
and CharSet "charset=utf-8" whereas Apache Tomcat's Content-Type does
NOT include such a blank:

Content-Type returned by Apache httpd:  "application/xml; charset=utf-8"
Content-Type returned by Apache Tomcat: "application/xml;charset=utf-8"

It is obvious, that both Apache httpd and Apache Tomcat deliver a perfectly
legal Content-Type that fulfills all the requirements specified in the RFC.
ownCloud client, however, only accepts the Content-Type delivered by
Apache httpd.

We suspect that there are other WebDAV servers that do not return
a Content-Type as it is hard-coded into the ownCloud client, and
hence the fine ownCloud client cannot connect to such WebDAV servers.
### Steps to reproduce

We have analyzed the above describe behaviour while trying to connect
various versions of the ownCloud client with the openCRX WebDAV server
(www.opencrx.org). The problem cannot be reproduced when the ownCloud
client is used against the ownCloud Server (see description of 
expected behavior above).
### Server configuration

(the only relevant information is Apache Tomcat 7.0.39)

Operating system: CentOS 6.4
Web server: Apache TomEE v1.5.2 (includes Apache Tomcat 7.0.39)
Database: PostgreSQL v.9.2
PHP version: (emulated by openCRX Server v2.12)
ownCloud version: (emulated by openCRX Server 2.12)
### ownCloud Client

Operating System: Ubuntu 13.04
Client Version: 1.2.1 (as available in the repository)
### Additional Information

We're glad to help test new/beta client versions against Apache Tomcat.
Plesae contact us at christoph.mueller@crixp.com
