vhost problems with IDN

### Expected behaviour

OC Sync Client should find status.php, on server located at: /var/www/vhosts/2-cloud/status.php . The vhost is working correctly (i can access it with any Webbrowser)
### Actual behaviour

OC Sync Client tries to open /var/www/vhosts/1-main/status.php (result from apache2 error log)
### Steps to reproduce
1. 
### Server configuration

Operating system:

Web server: Apache/2.2.22

Database: MySQL

PHP version: 5

ownCloud version: 5.0
### Client configuration

Client version: 1.2.1

Operating system: Windows 8 Pro

OS language: German

Installation path of client: C:\Program Files (x86)\ownCloud
### Logs
#### output of `owncloud --logwindow` or `owncloud --logfile log.txt`

```
Insert your log output here
03-20 15:59:12:104 "################## ownCloud de_DE (de_DE) 1.2.1" 
03-20 15:59:12:105 #============# Status dialog starting #=============# 
03-20 15:59:12:120 Check status.php from statusdialog. 
03-20 15:59:12:120 Get Request to  "status.php" 
03-20 15:59:12:120 Returning configured owncloud url:  "http://88.198.217.202/owncloud/" 
03-20 15:59:12:120 Returning configured owncloud url:  "http://88.198.217.202/owncloud/" 
03-20 15:59:12:120 Setting up host header:  "88.198.217.202" 
03-20 15:59:12:121 Check status.php from statusdialog. 
03-20 15:59:12:121 Get Request to  "status.php" 
03-20 15:59:12:121 Returning configured owncloud url:  "http://88.198.217.202/owncloud/" 
03-20 15:59:12:122 Returning configured owncloud url:  "http://88.198.217.202/owncloud/" 
03-20 15:59:12:122 Setting up host header:  "88.198.217.202" 
03-20 15:59:12:189 ownCloudInfo Network Error:  203 
03-20 15:59:12:189 status.php returns:  "<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>404 Not Found</title>
</head><body>
<h1>Not Found</h1>
<p>The requested URL /owncloud/status.php was not found on this server.</p>
<hr>
<address>Apache/2.2.22 (Ubuntu) Server at 88.198.217.202 Port 80</address>
</body></html>
"   203  Reply:  QNetworkReplyImpl(0x4a5ecc8) 
03-20 15:59:12:189 No proper answer on  "http://88.198.217.202/owncloud/status.php" 
03-20 15:59:12:198 ownCloudInfo Network Error:  203 
03-20 15:59:12:199 status.php returns:  "<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>404 Not Found</title>
</head><body>
<h1>Not Found</h1>
<p>The requested URL /owncloud/status.php was not found on this server.</p>
<hr>
<address>Apache/2.2.22 (Ubuntu) Server at 88.198.217.202 Port 80</address>
</body></html>
"   203  Reply:  QNetworkReplyImpl(0x4a5eed8) 
03-20 15:59:12:199 No proper answer on  "http://88.198.217.202/owncloud/status.php" 
03-20 15:59:21:151 Returning configured owncloud url:  "http://88.198.217.202/owncloud/" 
03-20 15:59:21:153 Current Wizard page changed to  1 
03-20 15:59:21:153 Page_install is  6 
03-20 15:59:21:153 Pending request:  QObject(0x0)  
03-20 15:59:34:034 Current Wizard page changed to  6 
03-20 15:59:34:034 Page_install is  6 
03-20 15:59:34:034 Connect to url:  "http://cloud.tld.de" 
03-20 15:59:34:035   OO Custom config file in use:  "C:\Users\mloeser\AppData\Local\ownCloud/owncloud.cfg_032013155934" 
03-20 15:59:34:035 *** writing mirall config to  "C:\Users\mloeser\AppData\Local\ownCloud/owncloud.cfg_032013155934"  Skippwd:  false 
03-20 15:59:34:035 Going to delete the password from settings file. 
03-20 15:59:34:035   OO Custom config file in use:  "C:\Users\mloeser\AppData\Local\ownCloud/owncloud.cfg_032013155934" 
03-20 15:59:34:043   OO Custom config file in use:  "C:\Users\mloeser\AppData\Local\ownCloud/owncloud.cfg_032013155934" 
03-20 15:59:34:043 Get Request to  "status.php" 
03-20 15:59:34:043   OO Custom config file in use:  "C:\Users\mloeser\AppData\Local\ownCloud/owncloud.cfg_032013155934" 
03-20 15:59:34:043 Returning configured owncloud url:  "http://cloud.tld.de/" 
03-20 15:59:34:043   OO Custom config file in use:  "C:\Users\mloeser\AppData\Local\ownCloud/owncloud.cfg_032013155934" 
03-20 15:59:34:043 Returning configured owncloud url:  "http://cloud.tld.de/" 
03-20 15:59:34:044 Setting up host header:  "cloud.tld.de" 
03-20 15:59:34:044 Setting config handle  "032013155934" 
03-20 15:59:34:111 ownCloudInfo Network Error:  203 
03-20 15:59:34:111 status.php returns:  "<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>404 Not Found</title>
</head><body>
<h1>Not Found</h1>
<p>The requested URL /status.php was not found on this server.</p>
<hr>
<address>Apache/2.2.22 (Ubuntu) Server at cloud.tld.de Port 80</address>
</body></html>
"   203  Reply:  QNetworkReplyImpl(0x4a5f3f8) 
03-20 15:59:34:111 No proper answer on  "http://cloud.tld.de/status.php" 
03-20 15:59:34:112   OO Custom config file in use:  "C:\Users\mloeser\AppData\Local\ownCloud/owncloud.cfg_032013155934" 

#### Web server error log
...
[Wed Mar 20 15:35:26 2013] [error] [client X.X.X.80] client sent HTTP/1.1 request without hostname (see RFC2616 section 14.23): /w00tw00t.at.ISC.SANS.Win32:)
[Wed Mar 20 15:58:59 2013] [error] [client X.X.X.14] File does not exist: /var/www/vhosts/1-main/owncloud
[Wed Mar 20 15:58:59 2013] [error] [client X.X.X.14] File does not exist: /var/www/vhosts/1-main/owncloud
[Wed Mar 20 15:59:21 2013] [error] [client X.X.X.14] script '/var/www/vhosts/1-main/status.php' not found or unable to stat
...

#### ownCloud log (data/owncloud.log)
```

{"app":"search_lucene","message":"failed to extract meta information for \/Medien: Could not open \"\/var\/www\/vhosts\/2-cloud\/data\/saddy\/files\/Medien\" (does not exist, or is not a file)","level":2,"time":1363770304}
{"app":"search_lucene","message":"failed to extract meta information for \/Medien: Could not open \"\/var\/www\/vhosts\/2-cloud\/data\/saddy\/files\/Medien\" (does not exist, or is not a file)","level":2,"time":1363770304}
{"app":"search_lucene","message":"failed to extract meta information for \/Medien\/Musik: Could not open \"\/var\/www\/vhosts\/2-cloud\/data\/saddy\/files\/Medien\/Musik\" (does not exist, or is not a file)","level":2,"time":1363770315}
{"app":"search_lucene","message":"failed to extract meta information for \/Medien\/Musik: Could not open \"\/var\/www\/vhosts\/2-cloud\/data\/saddy\/files\/Medien\/Musik\" (does not exist, or is not a file)","level":2,"time":1363770315}

```


I edited the IP and TLD. There is an "umlaut" "Ö" in my Domain, i dont know if it matter. 
```
