Ensure that QUrl::toPercentEncoding is called on all query parameters

The encoding of query items for get request in Qt needs some special handling and we have been hit by multiple issues in the past.

I'd like to discuss an implementation of a utility function that properly handles the general case.
However reading the documentation of `QUrlQuery::setQueryItems` it might also depend on the server.

I come up with this topic now as I'd like to have a proper solution for the webfinger implementation.

> void QUrlQuery::setQueryItems(const QList<QPair<QString, QString> > &query)
> 
> Sets the items in this QUrlQuery object to query. The order of the elements in query is preserved.
> 
> Note: This method does not treat spaces (ASCII 0x20) and plus ("+") signs as the same, like HTML forms do. If you need spaces to be represented as plus signs, use actual plus signs.
> 

https://github.com/owncloud/client/blob/f0c945f84450f5f48d279deafcd43c403aa29017/src/libsync/creds/oauth.cpp#L445

and this one looks a bit special:
https://github.com/owncloud/client/blob/f0c945f84450f5f48d279deafcd43c403aa29017/src/gui/ocsjob.cpp#L55-L67

#7762
#5042 
https://github.com/owncloud/enterprise/issues/4849

I checked [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986) and it turns out that there's room for interpretation:

## Encoding of space

[RFC 3986, section 2.2](https://datatracker.ietf.org/doc/html/rfc3986#section-2.2):
- `+` is a reserved sub-delimiter (so theoretically can be ok to use for spaces)
- but since `+` can also be "data for a URI component", it should be percent-encoded (as `%20`):
```
If data for a URI component would conflict with a reserved
character's purpose as a delimiter, then the conflicting data must be
percent-encoded **before** the URI is formed.
```

## Encoding of `+`
Since `+` could mean both a plus sign or a space, the pragmatic/"safe" approach might be to encode `+` as `%2B`. That could be seen in conflict with [RFC 3986, section 6.2.2.2](https://datatracker.ietf.org/doc/html/rfc3986#section-6.2.2.2):

```
The percent-encoding mechanism (Section 2.1) is a frequent source of
variance among otherwise identical URIs.  In addition to the case
normalization issue noted above, some URI producers percent-encode
octets that do not require percent-encoding, resulting in URIs that
are equivalent to their non-encoded counterparts.  These URIs should
be normalized by decoding any percent-encoded octet that corresponds
to an unreserved character, as described in Section 2.3.
```

But since the spec uses the word _should_ here, I understand it as "nice to have, but not required".

## Handling in the iOS SDK

The iOS SDK first lets `NSURLComponents` generate the query string from key/value pairs, then replaces `+` with `%2B` in the returned query string. IIRC this works well because `NSURLComponents` already encodes spaces to `%20` so that all remaining `+` really are `+`, and encoding `+` to `%2B` makes it clear that `+` is `+`.

@dschmidt and I spend some time investigating the Qt behaviour.

It looks indeed like https://github.com/owncloud/client/blob/f0c945f84450f5f48d279deafcd43c403aa29017/src/gui/ocsjob.cpp#L55-L67 is the way to go.

The ` QUrl::toPercentEncoding` also takes care of the `+` so no need for the manual replace.
We should ensure in our code that `QUrl::toPercentEncoding` is always used and remove any direct usage of QUrlQuery as the results usually don't match the expectations.
